backports.entry-points-selectable==1.1.0
click==7.1.2
configparser==4.0.2
contextlib2==0.6.0.post1
distlib==0.3.2
filelock==3.0.12
Flask==1.1.4
Flask-MySQL==1.5.2
Flask-MySQLdb==1.0.1
Flask-SQLAlchemy==2.5.1
greenlet==2.0.2
importlib-metadata==2.1.1
importlib-resources==3.3.1
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
mysqlclient==2.2.0
pathlib2==2.3.6
platformdirs==2.0.2
PyMySQL==1.1.0
scandir==1.10.0
singledispatch==3.7.0
six==1.16.0
SQLAlchemy==1.4.49
typing_extensions==4.7.1
virtualenv==20.7.2
Werkzeug==1.0.1
zipp==1.2.0
