{% extends 'base.html' %}

{% block title %}Power Generation{% endblock %}

{% block content %}
<div class="jumbotron">
    <h3>Power Generation</h3>
    <p>You have added these to your household</p>
    <table class="table">
      <thead>
        <tr>
          <th>Appliance #</th>
          <th>Type</th>
          <th>Monthly kWh</th>
          <th>Battery kWh</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {% for item in output %}
        <tr class="powerappliances">
          <td>{{ item[0] }}</td>
          <td>{{ item[1] }}</td>
          <td>{{ item[2] }}</td>
          <td>{{ item[3] }}</td>
<!--          <td><a href="#" class="delete-link btn btn-primary">Delete</a></td>-->
           <td><a href="{{ url_for('generator', id=item[0]) }}" class="delete-link btn btn-primary">Delete</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  <a href="{{ url_for('add_power')}}" class="delete-link left">+ Add more power</a>
  <br>
  <a href="{{ url_for('wrapup')}}" id="finishButton" class="delete-link left btn btn-primary">Finish</a>
</div>
<script>
    window.addEventListener("DOMContentLoaded", (event) => {
        var myElement = document.getElementById("heatingCoolingInfo");
        if (myElement.innerHTML == "True") {
        document.getElementById("skipButton").style.display = "none";
        }
    });
</script>
{% endblock %}